{% autoescape off %}
You are receiving this e-mail because someone has requested a password reset for your account at {{ domain }}.

If you have not initiated this request, then you can ignore this message.

Otherwise, please go to the following page and choose a new password:
{% block reset_link %}
    {{ protocol }}://{{ domain }}{% url django.contrib.auth.views.password_reset_confirm uidb36=uid, token=token %}
{% endblock %}

In case you have forgotten, your username is {{ user.username }}.

Thanks,

The {{ domain }} team.

{% endautoescape %}
