{% extends 'base.html' %}
{% load i18n %}
{% block container %}
    <div clas="content">
    {% if validlink %}
        {% if form.errors %}
            {% include 'registration/form_errors.html' %}
        {% endif %}
    <form action="" method="post">
    {% csrf_token %}
        <fieldset>
            <legend>{% trans 'Resetting password' %}</legend>
            <div class="clearfix">
                <div class="input">
                    {% trans "Please enter a new password:" %}
                </div>
            </div>
            {% for field in form %}
                {% include 'registration/form_field.html' %}
            {% endfor %}
            <div class="actions">
                <input type="submit" class="btn primary" value="{% trans 'Reset password' %}">
            </div>
        </fieldset>
    </form>
    {% else %}{% comment %} not validlink {% endcomment %}
    <h3>{% trans 'Password reset unsuccessful' %}</h3>
    <p>
        {% trans 'The password reset link was invalid.  It is possible that it has already been used.' %}
        <div class="clearfix">
        <a href="{% url django.contrib.auth.views.password_reset %}">{% trans 'Request a new password reset.' %}</a>
        </div>
    </p>
    {% endif %}
    </div>
{% endblock %}
