{% extends 'base.html' %}
{% load i18n %}

{% block container %}
    <div class="content">
        {% if form.errors %}
            {% include 'registration/form_errors.html' %}
        {% endif %}
        <form action="." method="post" id="passwordResetForm">
        {% csrf_token %}
        <fieldset>
            <legend> {% trans "Reset Password" %}</legend>
            <div class="clearfix">
                <div class="input">
                {% trans "Enter your email address below for instructions on resetting your password" %}
                </div>
                {% for field in form %}
                    {% include 'registration/form_field.html' %}
                {% endfor %}
                <div class="actions">
                    <button id="submit" class="btn primary" type="submit" data-loading-text="{% trans 'loading' %}..." accesskey="Enter">{% trans 'Send email' %}</button>
                </div>
            </div>
        </fieldset>
        </form>
    </div> <!-- content -->
{% endblock %}
