{% extends 'base.html' %}
{% load i18n %}
{% block container %}
  {% if form.errors %}
    {% include 'registration/form_errors.html' %}
  {% endif %}
  <div>
  <form action="." method="post" id="passwordChangeForm">
  {% csrf_token %}
      <fieldset>
        <legend> {% trans "Change Password" %} </legend>
        {% for field in form %}
            {% include 'registration/form_field.html' %}
        {% endfor %}
        <div class="actions">
            <button id='submit' type='submit' class='btn primary'>{% trans 'Change Password' %} </button>
            <button id='reset' type='cancel' class='btn'>{% trans 'Cancel' %} </button>
        </div>
      </fieldset>
  </form>
  </div>
{% endblock %}
