{% load i18n %}
{% with "Django-bases" as siteName %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <title>{% block title %} {{ siteName }} {% endblock %}</title>
    <link href="{{ STATIC_URL }}css/lavish.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/login.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top:60px;
            padding-bottom:40px;
        }
    </style>
  </head>
  <body>
  <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
          <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </a>
              <a class="brand" href="{% url index %}">{{ siteName }}</a>
              <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav">
                    <li {% if not active %} class="active" {% endif %}><a href="{% url index %}">{% trans "Home" %}</a></li>
                    <li {% if active == 'about' %} class="active" {% endif %}><a href="{% url about %}">{% trans "About" %}</a></li>
                </ul>
                {% if user.is_authenticated %}
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a href="#" id="userDropdown" role="button" class="dropdown-toggle" data-toggle="dropdown">
                                {{ user.username }}
                                <b class="caret"></b>
                            </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="userDropdown">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="{% url django.contrib.auth.views.password_change %}">{% trans "Change password" %}</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" href="{% url django.contrib.auth.views.logout %}">{% trans 'Log Out' %}</a>
                            </li>
                    </ul>
                {% else %}
                <ul class="nav pull-right">
                    {%comment%}<li><a href="{% url registration_register %}">Sign Up</a></li> {%endcomment%}
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Log In<span class="caret"></span></a>
                        <div class="dropdown-menu login-menu">
                            <form action="{% url django.contrib.auth.views.login %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}" />
                                <input type="text" id="id_username" placeholder="{% trans 'Username' %}" name="username"/>
                                <input type="password" id="id_password" placeholder="{% trans 'Password' %}" name="password"/>
                                <input style="float: right;" type="submit" class="btn pull-right" value="{% trans 'Log In' %}" />
                                <div class="formLine" sylte="text-align:center;"><a href="{% url django.contrib.auth.views.password_reset %}">{% trans 'I forgot my password' %}</a></div>
                            </form>
                        </div>
                    </li>
                </ul>
                {% endif %}
              </div> <!-- nav-collapse -->
          </div> <!-- container -->
      </div> <!-- navbar-inner -->
  </div> <!-- navbar -->
  <div class="container">
  {% block container %}
    <div class="content">
        <div class="page-header">
            <h1> {{ siteName }} <small> sub-header </small></h1>
        </div>
        <ul>
            <li>item1</li>
        </ul>
    </div>
  {% endblock %}
  <hr>
    <footer>
      <p class="muted credit"> Footer information </p>
    </footer>
  </div> <!-- container -->
  <!--[if lt IE 9]>
  <script src="{{ STATIC_URL }}js/html5.js"></script>
  <![endif]-->
  <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
  <script src="{{ STATIC_URL }}js/prettify.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  </body>
</html>
{% endwith %}
